@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, dl, dt, dd, input, form, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
ul {
	list-style: none;
}
body {
	color: #888;
	font-size: 12px;
	line-height: 1.7em;
	font-family: "微软雅黑" ,"黑体";
}
a {
	text-decoration: none;
	color: #3cb4e4;
}

input:focus {
	outline: none
}
.fl {
	float: left
}
.fr {
	float: right
}
.abs {
	position: absolute
}
.rel {
	position: relative
}
.clear {
	clear: both;
	height: 0;
	overflow: hidden
}

.center{width:1002px; margin:0 auto;}

/*show*/
#show{width: 915px; height: 500px; background:#191919; margin:0 auto; padding:2%; box-sizing:border-box;}

#show .title{width: 100%; height: 64px; font-size:1.2em; color:#D6C182;}
#show .title .page{width: 10%;}
#show .title .page li{float:left; margin-left:2%;}
#show .title .page li.gt , #show .title .page li.lt{width:14px; height: 14px; font-size:14px; background:#E8D28D; line-height:14px;  color:#121212; padding:3px 1px 3px 5px; border-radius:12px;}
#show .title .page li.gt{background:#C40E0F; color:#E9D28C; padding:3px 0px 5px 8px;}


#show .list dl{width: 21.5%; height: 386px; background: #E9D28E; float:left; margin-left:3%;}
#show .list dl dt{height:240px; text-align: center; padding-top:30px;}

@media(max-width:768px){
	#show{width:100%;}
}

@media(max-width:414px){
	#show{height:900px;}
	#show .title .page{width: 24%;}
	#show .title .page li{margin-left:5%;}

	#show .list dl{width: 43%; margin-bottom:4%; margin-left:5%;}
}

@media(max-width:320px){
	#show{height:1900px;}
	#show .title .page{width: 28%;}
	#show .title .page li{margin-left:5%;}

	#show .list dl{width: 86%; margin:2% 0% 4% 7% ;}
	#show .list dl img{width:54%;}
}
}
